In [ ]:
# DICTNORY METHODS
{}

In [2]:
# keys-values
student = {
    'stu_name' : 'Ruchika',
    'stu_age' : 22,
    'stu_city':'nagpur'
}

In [3]:
print(student)

{'stu_name': 'Ruchika', 'stu_age': 22, 'stu_city': 'nagpur'}

In [4]:
type(student)

dict

In [5]:
student[1]

KeyError: 1

In [6]:
student['stu_city']

'nagpur'

In [ ]:
# retrieve

In [ ]:
student['country'] #errror contry not present in dict

In [ ]:
student.get['country', 'Not defined']  #not defined

In [7]:
# .get
student.get('country')

In [9]:
student.get('stu_name')

'Ruchika'

In [ ]:
# add

In [10]:
student['country'] = 'India'
student

{'stu_name': 'Ruchika',
 'stu_age': 22,
 'stu_city': 'nagpur',
 'country': 'India'}

In [11]:
student['mobile No']  = 789
student

{'stu_name': 'Ruchika',
 'stu_age': 22,
 'stu_city': 'nagpur',
 'country': 'India',
 'mobile No': 789}

In [ ]:
# update

In [12]:
student['mobile No'] = 123456789
student

{'stu_name': 'Ruchika',
 'stu_age': 22,
 'stu_city': 'nagpur',
 'country': 'India',
 'mobile No': 123456789}

In [18]:
emp = {
    'name' : 'Palak',
    'age'  : 35,
    'city' : 'pune',
    'country':'India'
}

In [19]:
emp

{'name': 'Palak', 'age': 35, 'city': 'pune', 'country': 'India'}

In [20]:
emp['city']

'pune'

In [23]:
emp['contact']

KeyError: 'contact'

In [24]:
emp.get('contact' , 'not defined')

'not defined'

In [25]:
emp['contact'] = 1432

In [26]:
emp

{'name': 'Palak',
 'age': 35,
 'city': 'pune',
 'country': 'India',
 'contact': 1432}

In [27]:
emp['contact'] = 101010
emp

{'name': 'Palak',
 'age': 35,
 'city': 'pune',
 'country': 'India',
 'contact': 101010}

In [28]:
emp.keys()

dict_keys(['name', 'age', 'city', 'country', 'contact'])

In [29]:
emp.values()

dict_values(['Palak', 35, 'pune', 'India', 101010])

In [30]:
emp.items()

dict_items([('name', 'Palak'), ('age', 35), ('city', 'pune'), ('country', 'India'), ('contact', 101010)])

In [32]:
emp.pop('age') #remove specific key-value ex age

35

In [33]:
emp

{'name': 'Palak', 'city': 'pune', 'country': 'India', 'contact': 101010}

In [34]:
emp.popitem()  #remove last element

('contact', 101010)

In [35]:
emp

{'name': 'Palak', 'city': 'pune', 'country': 'India'}

In [1]:
stud = {
    'fname ' : 'ruchi',
    'lname ' : 'kumbhare',
    'age' : 22,
    'city' : 'Nagpur'
}

In [2]:
stud

{'fname ': 'ruchi', 'lname ': 'kumbhare', 'age': 22, 'city': 'Nagpur'}

In [5]:
stud['age'] #retrive

22

In [8]:
stud['contact'] =12345 # add

In [9]:
stud

{'fname ': 'ruchi',
 'lname ': 'kumbhare',
 'age': 22,
 'city': 'Nagpur',
 'contact': 12345}

In [10]:
stud ['contact'] = 98765

In [11]:
stud

{'fname ': 'ruchi',
 'lname ': 'kumbhare',
 'age': 22,
 'city': 'Nagpur',
 'contact': 98765}

In [12]:
del stud['age']

In [13]:
stud

{'fname ': 'ruchi', 'lname ': 'kumbhare', 'city': 'Nagpur', 'contact': 98765}

In [14]:
stud.clear()

In [15]:
stud

{}

In [16]:
stud = {
    'fname ' : 'ruchi',
    'lname ' : 'kumbhare',
    'age' : 22,
    'city' : 'Nagpur'
}

In [17]:
stud

{'fname ': 'ruchi', 'lname ': 'kumbhare', 'age': 22, 'city': 'Nagpur'}

In [18]:
stud.clear()

In [19]:
stud

{}

In [20]:
stud1 = {'name': 'Palak',
 'age': 35,
 'city': 'pune',
 'country': 'India',
 'contact': 1432
        }

In [21]:
stud1

{'name': 'Palak',
 'age': 35,
 'city': 'pune',
 'country': 'India',
 'contact': 1432}

In [ ]:
# dict with in operator ==> check only keys

In [22]:
print('age' in stud1)

True

In [23]:
print('country' in stud1)

True

In [24]:
print('lname' in stud1)

False

In [26]:
stud2 = {'name': 'Palak',
 'age': 35,
 'city': 'pune',
 'country': 'India',
 'contact': 1432,
  'age' : 25
        }

In [27]:
stud2

{'name': 'Palak',
 'age': 25,
 'city': 'pune',
 'country': 'India',
 'contact': 1432}

In [30]:
for key in stud2 :
    print("the key is" , key,"and its values is",stud1[key])

the key is name and its values is Palak
the key is age and its values is 25
the key is city and its values is pune
the key is country and its values is India
the key is contact and its values is 1432

In [31]:
for key in stud1:
    print(key)

name
age
city
country
contact

In [35]:
a = [1,2,3,4,5]
for  x in a:
    print(x)

1
2
3
4
5

In [36]:
for x in range(len(a)):
    print(x)

0
1
2
3
4

In [40]:
for x in range(len(a)):
    print('index => ' , x , 'value =>',a[x])

index =>  0 value => 1
index =>  1 value => 2
index =>  2 value => 3
index =>  3 value => 4
index =>  4 value => 5

In [41]:
stud1.clear()

In [42]:
stud1

{}

In [ ]:
# By using variable
a_var = dict(name = "rahul", age = 32 ,job = 'teacher')
a_var

In [ ]:
# By using tuple
d_tup = dict([('name',"Akash"),('age',35),('job',"Instructor")])
d_tup

In [ ]:
# homework

In [ ]:
# score_vk = {
#         one_day : 700,
#         test : 740,
#         t_20 : 470,
#         international : 250
# }

In [ ]:
# 1. CREATE ABOVE DICTIONARY USING BASIC METHOD 
# {} AND NAME IT AS score_vk_basic

In [45]:
score_vk_basic = {
       ' one_day' : 700,
        'test' : 740,
       ' t_20' : 470,
       ' international' : 250
}
score_vk_basic

{' one_day': 700, 'test': 740, ' t_20': 470, ' international': 250}

In [ ]:
# 2. CREATE ABOVE DICTIONARY USING 
# variable assignments way AND NAME IT AS score_vk_var

In [46]:
score_vk_var = dict(  one_day = 700, test = 740, t_20 = 470 ,international = 250 )

In [47]:
score_vk_var

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [ ]:
# 3. CREATE ABOVE DICTIONARY USING 
# tuple pair way  AND NAME IT AS score_vk_basic_tup

In [48]:
score_vk_basic_tup = dict([('one_day',700),('test',740),(' t_20' , 470),(' international',250)])

In [49]:
score_vk_basic_tup

{'one_day': 700, 'test': 740, ' t_20': 470, ' international': 250}