In [1]:
import pandas as pd

In [5]:
# Read data from sheet "Data"
# Find out student age
# Calculate total marks
# Calculate percentage
# Give top 10 student Roll No, first name, last name, Total marks
# In above data add first name and last name in single column
# Give list of student whoes marks less than 50 in any subject

In [ ]:
# Read data from sheet "Data"

In [9]:
a1=pd.read_excel(r"C:\Users\Rohit\Desktop\jupyterpy\Homework.xlsx",sheet_name = 'Data' ,skiprows = 3)

In [11]:
a1

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year
0,1,Aarav,Patil,85,78,90,92,1998
1,2,Aarvi,Bhandari,90,81,85,91,2001
2,3,Aditi,Rajput,90,88,82,87,2000
3,4,Aditya,Pawar,92,88,76,91,1999
4,5,Anaya,Gawande,84,90,82,88,1997
5,6,Arjun,More,76,89,91,78,2001
6,7,Arnav,Khedkar,85,90,78,46,2000
7,8,Ayaan,Jadhav,90,75,88,84,1996
8,9,Disha,Chavan,86,83,80,89,2000
9,10,Isha,Kamble,79,76,89,92,2002
10,11,Jaya,Bhagat,92,88,76,89,1996
11,12,Jay,Bhagat,90,77,65,88,1999
12,13,Kaira,Nikam,88,80,84,90,2001
13,14,Krish,Bhosale,80,85,83,89,1999
14,15,Kunal,Kshirsagar,81,81,85,88,1995
15,16,Nikhil,Patankar,87,80,89,84,2002
16,17,Payal,Patil,89,76,87,91,1999
17,18,Pooja,Mhatre,84,79,88,92,2001
18,19,Radhika,Ghorpade,83,79,91,88,1998
19,20,Raghav,Khedekar,79,49,82,90,1996
20,21,Rahul,Kadam,81,83,84,90,1998
21,22,Reyansh,Joshi,82,80,84,85,1997
22,23,Rishabh,Ghadge,92,78,86,81,1998
23,24,Riya,Kulkarni,91,84,78,87,1997
24,25,Rohan,Suryavanshi,78,82,90,86,1996
25,26,Samarth,Shinde,43,79,87,88,2000
26,27,Shreya,Dandekar,89,75,88,90,2001
27,28,Sneha,Gokhale,88,84,90,86,2002
28,29,Tanvi,Ingale,78,77,83,92,2002
29,30,Tarun,Dhumal,82,87,44,85,2000
30,31,Tejas,Waghmare,85,82,90,85,1996
31,32,Vihaan,Deshmukh,88,81,85,89,2001
32,33,Vivaan,Nair,87,83,79,90,1996

In [ ]:
# Find out student age

In [13]:
a1['Age'] = 2024 - a1['DOB Year']

In [15]:
a1

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age
0,1,Aarav,Patil,85,78,90,92,1998,26
1,2,Aarvi,Bhandari,90,81,85,91,2001,23
2,3,Aditi,Rajput,90,88,82,87,2000,24
3,4,Aditya,Pawar,92,88,76,91,1999,25
4,5,Anaya,Gawande,84,90,82,88,1997,27
5,6,Arjun,More,76,89,91,78,2001,23
6,7,Arnav,Khedkar,85,90,78,46,2000,24
7,8,Ayaan,Jadhav,90,75,88,84,1996,28
8,9,Disha,Chavan,86,83,80,89,2000,24
9,10,Isha,Kamble,79,76,89,92,2002,22
10,11,Jaya,Bhagat,92,88,76,89,1996,28
11,12,Jay,Bhagat,90,77,65,88,1999,25
12,13,Kaira,Nikam,88,80,84,90,2001,23
13,14,Krish,Bhosale,80,85,83,89,1999,25
14,15,Kunal,Kshirsagar,81,81,85,88,1995,29
15,16,Nikhil,Patankar,87,80,89,84,2002,22
16,17,Payal,Patil,89,76,87,91,1999,25
17,18,Pooja,Mhatre,84,79,88,92,2001,23
18,19,Radhika,Ghorpade,83,79,91,88,1998,26
19,20,Raghav,Khedekar,79,49,82,90,1996,28
20,21,Rahul,Kadam,81,83,84,90,1998,26
21,22,Reyansh,Joshi,82,80,84,85,1997,27
22,23,Rishabh,Ghadge,92,78,86,81,1998,26
23,24,Riya,Kulkarni,91,84,78,87,1997,27
24,25,Rohan,Suryavanshi,78,82,90,86,1996,28
25,26,Samarth,Shinde,43,79,87,88,2000,24
26,27,Shreya,Dandekar,89,75,88,90,2001,23
27,28,Sneha,Gokhale,88,84,90,86,2002,22
28,29,Tanvi,Ingale,78,77,83,92,2002,22
29,30,Tarun,Dhumal,82,87,44,85,2000,24
30,31,Tejas,Waghmare,85,82,90,85,1996,28
31,32,Vihaan,Deshmukh,88,81,85,89,2001,23
32,33,Vivaan,Nair,87,83,79,90,1996,28

In [ ]:
# Calculate total marks

In [21]:
a1["Physics"]=a1["Physics"].astype(int)

KeyError: 'Physics'

In [19]:

a1["English"]=a1["English"].astype(int)
a1["Chemistry"]=a1["Chemistry"].astype(int)
a1["Mathematics"]=a1["Mathematics"].astype(int)

KeyError: 'Physics'

In [17]:
a1['Total Marks'] = a1['English']+a1['Physics']+ a1['Chemistry'] +a1['Mathematics']

KeyError: 'Physics'