In [ ]:
# CONDITIONAL STATEMENT IN PYTHON
# if condition :
#     code

In [7]:
a = 10
if a ==10:
    print("this is right")

this is right

In [8]:
a = 5
if a ==10:
    print("this is right")

In [ ]:
# if condition:
#     code1
#     code2
# else:
#     code1

In [9]:
a = 20
if a ==10:
    print("a is equal to b")
else:
    print("a is not equal to b")

a is not equal to b

In [12]:
a="Hi"
if a==5:
    print("a has value 5")
    print("--------")
if a==6:
    print("a has value 6")
else:
    print("a is not number")

a is not number

In [ ]:
# if condition:
#     code1
#     code2
# if condition:
#     code1
#     code2
# if condition:
#     code

In [13]:
x = 40
if x==10:
    print("x is ! eqal")
if x ==30:
    print("x is ! equal")
if x ==40:
    print("x is equal")

x is equal

In [ ]:
# if condition:
#     code1
#     code2
# elif condition:
#     code1
#     code2
# elif condition:
#     code1
#     code2
# else:
#     code

In [1]:
a =95
if a>90:
    print("A grade")
if a>80:
    print("b Grade")
if a > 70:
    print("c grade")

A grade
b Grade
c grade

In [4]:
# Example 1 
a1 = int(input("enter age :"))
print("your age is : {}".format(a1))
if a1 >=18:
    print("Eligible")
else:
    print("Not Eligible")

enter age : 19

your age is : 19
Eligible

In [5]:
a1

19

In [12]:
# example 2
# print even number using for loop

for x in list(range(1,51)):
    if x%2 ==0:
        print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [21]:
# print odd number using for loop
for i in list(range(1,41)):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [25]:
# print odd number using for loop and store in list
odd_N = []
for m in list(range(1,40)):
    if m%2!=0:
        odd_N.append(m)

In [26]:
odd_N

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [27]:
for b in list(range(21)):
    if b%2==0:
        print(b)

0
2
4
6
8
10
12
14
16
18
20

In [28]:
even = []
for b in list(range(21)):
    if b%2==0:
        even.append(b)

In [29]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
for x in range(2,21,2):
    print(x)

2
4
6
8
10
12
14
16
18
20

In [39]:
# examole 5
phy = int(input("Enter phy marks: "))
che = int(input("Enter che marks: "))
maths = int(input("Enter maths marks: "))

print("your marks in phy {}".format(phy))
print("your marks in che {}".format(che))
print("your marks in maths {}".format(maths))

average = (phy+che+maths)/3
print(average)

if average > 35 :
    print("Pass")
else:
    print("try next time")

Enter phy marks:  45
Enter che marks:  45
Enter maths marks:  50

your marks in phy 45
your marks in che 45
your marks in maths 50
46.666666666666664
Pass

In [40]:
phy = int(input("Enter phy marks: "))
che = int(input("Enter che marks: "))
maths = int(input("Enter maths marks: "))

print("your marks in phy {}".format(phy))
print("your marks in che {}".format(che))
print("your marks in maths {}".format(maths))

average = (phy+che+maths)/3
print(average)

if average > 35 :
    print("Pass")
else:
    print("try next time")

Enter phy marks:  25
Enter che marks:  35
Enter maths marks:  34

your marks in phy 25
your marks in che 35
your marks in maths 34
31.333333333333332
try next time

In [42]:
age_candidate  = int(input("Enter you age: "))


if 0 < age_candidate < 18:
    print("You are not eligible to vote")
elif 18 <= age_candidate < 45:
    print("You are  eligible to vote")
elif 45 <= age_candidate < 60:
    print("You are  eligible to vote")
    print("You  must exercise your rights properly")
elif 60 <= age_candidate < 99:
    print("You are  eligible to vote")
    print("You  can ask office for assistance to vote ")
else:
    print("Enter yor age properly")

Enter you age:  60

You are  eligible to vote
You  can ask office for assistance to vote

In [44]:
age_candidate  = int(input("Enter you age: "))


if 0 < age_candidate < 18:
    print("You are not eligible to vote")
elif 18 <= age_candidate < 45:
    print("You are  eligible to vote")
elif 45 <= age_candidate < 60:
    print("You are  eligible to vote")
    print("You  must exercise your rights properly")
elif 60 <= age_candidate < 99:
    print("You are  eligible to vote")
    print("You  can ask office for assistance to vote ")
else:
    print("Enter yor age properly")

Enter you age:  100

Enter yor age properly

In [49]:
age_candidate  = int(input("Enter you age: "))


if 0 < age_candidate <= 18:
    print("You are not eligible to vote")
elif 45 <= age_candidate <= 60:
    print("You are  eligible to vote")
    print("You  must exercise your rights properly")
elif 18 <= age_candidate <= 45:
    print("You are  eligible to vote")
elif 60 <= age_candidate <= 99:
    print("You are  eligible to vote")
    print("You  can ask office for assistance to vote ")
else:
    print("Enter yor age properly")

Enter you age:  45

You are  eligible to vote
You  must exercise your rights properly

In [ ]:
# iterate over the list items 
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"] 

# Q.1 Print only True and false
# Q.2 Print only int
# Q.3 Print only those string that contains "l"
# Q.4 Print only those string that contains "l" at 3rd position #"Hello"

# Hint:- Use if condition

In [ ]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [ ]:
if a ==true:
    print(true")

In [2]:
# Q.1 Print only True and false
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]
for element in a:
    if isinstance(element, bool):
        print(element)

True
False

In [6]:
# Q.1 Print only True and false
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]
for i in a:
    if type(i) ==bool:
        print(i)

True
False

In [3]:
# Q.2 Print only int
for x in a:
    if type(x) ==int:
        print(x)

1
2
3
4

In [5]:
# Q.3 Print only those string that contains "l"
for x in a:
    if type(x)==str:
        if "l" in x:
            print(x)

Hello
World

In [4]:
# Q.4 Print only those string that contains "l" at 3rd position #"Hello"
for i in a: 
    if type(i)==str:
        if len(i)>3:
            if i[2] == "l":
                print(i)

Hello

In [3]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]