In [ ]:
## Pandas

In [ ]:
# Pandas provides two main classes of data structures: Series and DataFrame. 
# A Series is a one-dimensional labeled array that can hold data of any type.
# A DataFrame is a two-dimensional labeled array that can hold multiple Series, where each Series can have a different data type.

# Pandas provides a wide range of functions for data cleaning, data preprocessing, data manipulation, and data analysis. 
# Some of the commonly used functions in pandas include reading and writing data to files, 
# merging and joining data from multiple sources, 
# reshaping data, filtering data based on certain conditions, grouping and aggregating data, and more.

# EDA stands for Exploratory Data Analysis. It is the process of analyzing and summarizing data in order to 
# gain insights and understand the patterns, relationships, and distributions within the data. EDA is often 
# the first step in any data analysis project and is used to identify anomalies, detect missing or inconsistent data, and explore
# potential relationships between variables. Common EDA techniques include summary statistics, data visualization, correlation 
# analysis, and clustering analysis. EDA is important because it helps to ensure that the data is appropriate for the analysis
# being conducted and can provide valuable insights that can guide subsequent analyses.

In [ ]:
# Pandas:
# 1) Series : 1D , Store any type of data or any type of python Object , In single series store single datatype
# 2) DataFrame : 2D

In [1]:
import pandas as pd

In [ ]:
# Series :- one-dimensional labeled array  ( #single column)

In [5]:
pd.Series(data = [1,2,3])     #bydefault index = 0,1,2

0    1
1    2
2    3
dtype: int64

In [7]:
pd.Series(data = [1,2,3] , index =['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [19]:
("a b c".split(" "))

['a', 'b', 'c']

In [21]:
a = ("a b c".split(" "))
b = [1,2,3]
c=pd.Series(data = b , index = a)
print(c)

a    1
b    2
c    3
dtype: int64

In [23]:
d = {'a': 1 , 'b':2, 'c':3}
x=pd.Series(d)
print(x)

a    1
b    2
c    3
dtype: int64

In [29]:
m=pd.Series(data = [22,12,34,56])
print(m)

0    22
1    12
2    34
3    56
dtype: int64

In [ ]:
# Dataframes :-two-dimensional labeled array that can hold multiple Series, where each Series can have a different data type
# pd.DataFrame(data,index,columns)

In [ ]:
# Create DataFrame

In [31]:
data = {
    'name':['ruchika','priya','neha'],
    'favcolor':['black','blue','pink'],
    'favfruit':['mango','apple','grapes']
}

In [33]:
x=pd.DataFrame(data,index =['a','b','c'])

In [35]:
x

      name favcolor favfruit
a  ruchika    black    mango
b    priya     blue    apple
c     neha     pink   grapes

In [39]:
info = {
    'id': [1,2] ,
    'name' : ['pranay','om']
}

In [43]:
y=pd.DataFrame(info,index=["a","b"])

In [45]:
y

   id    name
a   1  pranay
b   2      om